.header{
    background-color: #1F2937;
    padding: 0 15%;
}

.heroMainText{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.heroSecondaryText{
    font-size: 18px;
    color: #E5E7EB;
}

li{
    list-style: none;
}

.headerBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

ul{
    display: flex;
    gap: 10px;
}

a:link, a:visited{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.heroContainer{
    display: flex;
    padding: 50px 0;
    gap: 10px;
}

.signUp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

body{
    margin: 0;
}

.headerLogo{
    font-size: 24px;
    color: #F9FAF8;
}
.imgPlaceholder{
    width: 50%;
    background-color: grey;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}

.randomImgPlaceholder{
    height: 100px;
    width: 100px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

h1{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.parentPlaceholderContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.placeholderContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.quote{
    margin-top: 50px;
    background-color: #E5E7EB;
    padding: 7vh 60vh;
}
quote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}
.signature{
    font-weight: bold;
    text-align: right;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: small;
}

.callToActionSection{
    margin: 50px;
    display: flex;
    justify-content: center;
    
}

.callToActionBox{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 25px 150px;
    display: flex;
    gap: 30px;
    width: 50%;
    border-radius: 10px;
    justify-content: space-evenly;
}
.ctaLeft{
    display: flex;
    flex-direction: column;
    
}

h2{
    margin: 0;
}

.ctaRight{
    display: flex;
    align-items: center;
}

.ctaRight > button{
    font-size: small;
    border: 2px solid white;
}